<div class="clearfix mxn2">
    <div class="col sm-col-9 px2">
        <h3 class="mb2">About me</h3>
        <p>

            Hi, I'm Richard, a data scientist-y person.
            I like solving interesting, challenging problems in fun, pragmatic ways.
            I'm currently the Head of Data & Analytics at <a href="https://what3words.com/data.driven.decisions">what3words</a>.
            Previously, I've worked at <a href="https://zulzi.com/">Zulzi</a> (predominantly building recommender
            models), and <a href="https://www.optinum.co.za/">Opti-Num Solutions</a>.
        </p>
        <p>
            I write here about some of the things that interest me.
        </p>
    </div>
    <div class="col sm-col-3 px2">
        <h3 class="mb2">Contact</h3>
        {% include contact.html %}
    </div>
</div>