<footer class="sticky-footer border-top border-light-gray gray h6">
  <div class="sm-col px2">
    &copy; {{ site.time | date: "%Y" }} {{ site.name }}.    
  </div>
  <div class="sm-col-right px2">
    {% for external_url_hash in site.contact_urls %}
      {% assign external_url = external_url_hash[1] %}
      <a href="{{ external_url.url }}" target="_blank" class="gray hint--top" data-hint="{{ external_url.label }}">
        <i class="fa fa-fw fa-lg fa-{{ external_url.icon }}"></i>
      </a>
    {% endfor %}
  </div>
  <img src="https://app.piratepx.com/ship?p=57c14f04-8eff-4dcd-9c3e-a18e464b6962&i={{ .page.url }}" />
</footer>